#container {    
    font-size: 20px;
    margin: 5rem 0 0 39%;
    padding: 1em;
    background: lightgray;
    width: 14rem
}
.scoreDisplay {
    display: grid;
    grid-template-columns: 7em 1.6em 1.25em;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
#temp {
    display: none;
}
#swissEntry {
    width: 10em;
    height: 1.5em;
    margin-bottom: 20px;
}
#submitName {
    width: 7em;
    height: 1.7em;
}
.deleteButton {
    text-indent: -2px;
}

#swissPairings {
    display: grid;
    grid-template-columns: 7em 1.6em;
    grid-column-gap: 5px;
    grid-row-gap: 5px;   
}
#createPairingsButton {
    display: none;
    font-size: 0.8em;
    max-width: 14rem;
    white-space: normal;
}
input[type=text] {
    font-size: 1em;
}
input[type=button] {
    font-size: 1em;
}

